figure.mini_logo {
    width: 30px;
    height: 30px;
    display: block;
    background-color: transparent;
    border: 2px solid  var(--accent);
    border-radius: 100%;
    margin-top:2em;
    margin-left: 1.5em;
    margin-right: 0.5em;
    float: left;
    > a {
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 100%;
        margin: 0 auto;
        background-size: 100%;
        background-color: var(--accent);
        border: 2px solid var(--background);
        text-decoration: none;
    }
}

figure.mini_logo + h5 {
    float:left;
    margin: 0;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 40px;
    position: relative;
    z-index: 100;
    > a {
        text-decoration: none;
        color: var(--accent);
    }
}

ul.social_list {
    display: inline-block;
    position: relative;
    > li {
        margin: 0.10em 0.10em 0.10em 0.10em;
        list-style: none;
        display: inline-block;
        transition: all 0.35s ease-out;
        > a {
            text-decoration: none;
            color: var(--text);
            transition: all 0.35s ease-out;
        }
        > i {
            margin-left: 0.25em;
            transition: opacity 0.35s ease-out;
            opacity: 0.70;
        }
    }
    > li:hover {
        > a {
            color: var(--background);
        }
        > i {
            opacity: 1;
            transition: opacity 0.35s ease-in;
        }
    }
}
