@import url("https://unpkg.com/normalize.css@8.0.1/normalize.css");
@import 'menu';
@import 'macros';
@import 'shortcodes';

:root {
  --animation-duration: 250ms; 
  --transition-duration: 250ms;

  --base: #2395B0;
  --primary-color: var(--base);
  --border: red;
  --accent: #FF452D;
  --dark: #3a4a4d;
  --light: #f0f8ff;
  
  --text: var(--dark);
  --background: var(--light);
  
  --font-family:  'Montserrat', 'Raleway', system-ui,  sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --layout-grid:
    "header"
    "main"
    "footer";
  
  color: var(--text);
  background: var(--background);
  font-size: var(--font-size);
  font-family: var(--font-family);
  animation-duration: var(--animation-duration);
  transition-duration: var(--animation-duration);
}
html, body {
 padding: 0;
  margin: 0;
  border: 0;
}
body{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:auto;
  grid-template-areas: var(--layout-grid);
  grid-gap: .75em;
  line-height: var(--line-height);
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0.8em;
    margin: 0.8em;
    padding-top: 0;
    margin-bottom: 2em;
    font-size: 1.2em;
    line-height: 1.8;
	.logo {
		color: var(--accent);
		font-weight: 700;
	}
    nav {
    	display: flex;
    	a { 
    		display: inline-block;
	    	padding: 0.4em;
    	}
    }
}
nav{
    grid-area: nav;
}
main {
    grid-area: main;
    margin: 0 auto;
    display: block;
    position: relative;
    max-width: 44em;
    > article {
        position: relative;
        display: inherit;
		aside {
			width: 40%;
			padding-left: .5rem;
			margin-left: .5rem;
			float: right;
			box-shadow: inset 5px 0 5px -5px #29627e;
			font-style: italic;
			color: #29627e;
			p {
				margin: .5rem;
			}
		}
    }
}
aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
    padding: 0.8em;
    margin: 0.8em;
    padding-bottom: 0;
    margin-top: 2em;
    font-size: 1.2em;
    line-height: 1.6;
    nav {
		display: flex;
		justify-content: space-around;
		align-items:center;   
    }
}
h1,h2,h3 {
  margin: auto;
  text-transform: capitalize;
}

a{
    color: var(--text);
	text-decoration: none;
	opacity: 0.85;
	font-weight: 600;
	padding: 5px;
}
a:hover {
	opacity: 1;
}
a[href^="mailto:"]:after {
	content: ' 📧';
}
a[href$=".pdf"]:after {
	content: ' (pdf)';
}
a[href$=".doc"] {
	content: ' (doc)';
}

a[href$=".mp3"] {
	content: ' (mp3)';
}

a[href$=".zip"] {
	content: ' (zip)';
}
article {   
    p {
    	text-align: justify;
  	    max-width: 44em;
  	    line-height: var(--line-height);
    }
}

.toc {
	float: right;
	border: 1px solid var(--text);
	width: 40%;
	font-size: 0.8em;
	padding: 1em 2em;
	margin: 0 0 0.5em 0.5em;
	ul, ol {
	  padding-left: 1.25em;
	}
	li {
	  margin: 0 0 0.2em 0;
	}
	a, a:hover, a:active, a:link {
	  text-decoration: none;
	}
}
h3:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}


pre {
    border-radius: 0.25em;
    padding: 0.65em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 8px solid var(--accent);
    opacity: 0.85;   
}

hr {
    color: var(--text);
    opacity: 0.4;
}


details {
    &:hover {
        cursor:pointer;
    }
    &:focus {
        outline: none;
    }
    &[open] summary ~ * {
        animation: sweep 400ms ease-in-out;
        outline: none;
    }
}


table, th, td {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid var(--text);
    padding: 0.33em;
    width: 100%;
}

th, td {
    margin: auto;
}

tr {
    text-align: center;
    vertical-align: middle;
}

@keyframes sweep {
    0% {opacity: 0; margin-left: -10px;}
    100% {opacity: 1; margin-left: 0px;}
}

@keyframes slidein {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

.flex{
	width: 100%;
}

.user_logo {
    width: 125px;
    height: 125px;
    display: block;
    background-color: transparent;
    border: 5px solid var(--accent);
    border-radius: 100%;
    margin: 0 auto;
    > a {
        width: 115px;
        height: 115px;
        display: block;
        margin: 0 auto;
        background-size: 100%;
        border-radius: 100%;
        background-color: var(--accent);
        animation: 250ms ease-in 0s 1 slidein;
        border: 5px solid var(--background);
    }
}

.frontmatter {
    display: block;
    font-size: 1em;
    padding-left: 0;
    color: var(--title);
    font-style: bold;
    list-style-type: none;
    margin: 0 auto;
    margin-top: -3px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    > li {
        display: inline;
		padding-right: .5em;
		white-space: nowrap;
    }
    display: block;
    opacity: 0.5;
    transition: ease-out var(--transition-duration);
}

h1 {
    > a {
        border-bottom: unset;
    }
    > a:focus {
        outline: none;
    }
}

.post_list_item {
    display: block;
    text-align: left;
    margin: auto;
    margin-bottom: 4em;
    > a {
        margin-top: 0.5em;
    }
    > p {
        display: block;
        margin: auto;
        color: var(--text);
    }
}

.frontmatter_page {
    opacity: 0.7;
    transition: opacity 0.35 ease-in-out var(--transition-duration);
    margin: 0 auto;
}

.button {
    text-transform: lowercase;
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--outline);
    text-decoration: none;
    transition: all var(--transition-duration) ease-in-out;
}

.shape-separator {
  position: relative;
  height: 48px;
  background: #333;
}
.shape-separator::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 12'%3E%3Cpath d='m12 0l12 12h-24z' fill='%23fff'/%3E%3C/svg%3E");
  position: absolute;
  width: 100%;
  height: 12px;
  bottom: 0;
}
