body {
    margin: 0;
    color: #000;
    background-color: #fff;
	font: 12pt Georgia, "Times New Roman", Times, serif;
	line-height: 1.3;
}

header, footer, aside, nav, form, iframe, .menu, .hero, .adslot, #sidebarMenu {
  display: none;
}

a {
  word-wrap: break-word;
  color: #000;
}
a[href^="http"]:not([href*='dbhattarai.info.np']):not([href*='localhost']):not([href*='127.0.0.1']):not([href^='#']):not([href^='/']):after{
  content: " (" attr(href) ")";  
  font-size: 0.7em;
  font-style: italic;
}
a[href^="mailto:"]:after {
	content: '';
}

q:after {
	content: " (Source: " attr(cite) ")";
}

h1 {
  page-break-before: always;
  break-before: always;
  string-set: title content(text);
}
h2, h3 {
  break-after: avoid-page;
  page-break-after: avoid;
}
figure {
  break-inside: avoid;
}
h2 {
	font-size: 14pt;
	margin-top: 25px;
}

aside h2 {
	font-size: 18pt;
}

aside {
	border-top: 1px solid #bbb;
	margin-top: 30px;
	display: block;
}

blockquote, ul {
	margin: 0;
}

img {
	border: 0;
	max-width: 100%;
}

header {
	margin-bottom: 40px;
}

table {
  page-break-inside: avoid;
  break-inside: avoid;
}

@page {
  size: A4;
  font: 12pt Georgia, "Times New Roman", Times, serif;
  @top-center {
        content: string(title);
  }
  @bottom-right {
        content: counter(page);
  }
  @bottom-center {
  	content: "Copyright © dbhattarai.info.np";
  }
}

@page :first {
  margin-top: 6cm;
  @top-center {
        content: "";
  }
}
