@media(max-width: 768px){
  :root{
    --layout-grid: 
    "header header header"
    "nav nav nav"
    "main main aside"    
    "footer footer footer";
    --font-size: 15px;
  }
	header{
		flex-direction: row;
		justify-content: space-between;
	}
}

@media(max-width: 480px){
 	:root {
 		--font-size: 14px;
 	}
 	header, footer, main {
	    display: block;
	}
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  :root {
    --animation-duration: 0.001ms !important; 
    --transition-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: fast) {
  :root {
    --animation-duration: 0.001ms !important; 
    --transition-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
  .must-animate {
    animation-duration: 6s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 6s !important;
  }
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark);
		--text: var(--light);
		--line-height: 1.7;
	}
	img {
		opacity: .75;
	}
	img:hover {
		opacity: 1;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: var(--light);
		--text: var(--dark);
		--line-height: 1.5;
	}
}
