<picture>
	<source srcset="{{ resize_image(path=url, width=320, height=0, op='fit_width')}} 320w, {{ resize_image(path=url, width=640, height=0, op='fit_width')}} 640w, {{ resize_image(path=url, width=960, height=0, op='fit_width')}} 960w, {{ resize_image(path=url, width=1024, height=0, op='fit_width')}} 1024w"/>
	<img src="{{ resize_image(path=url, width=320, height=0, op='fit_width')}}" alt="{{alt}}" class="flex"/>
</picture>
