<div {% if class %}class="{{class}}"{% endif %} style="display:flex;">
    <iframe style="width: 100%; height: 350px;"
	src="https://www.youtube.com/embed/playlist?list={{id}}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</div>
