{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{{config.extra.author}}">
		{% if page.keywords %} <meta name="keywords" content="{{page.keywords}}"> {% endif %}
		<link rel="icon" sizes="192x192" type="image/webp" href="/img/icon-192x192.webp">
		<link rel="icon" sizes="192x192" type="image/png" href="/img/icon-192x192.png">
		<link rel="apple-touch-icon" href="/img/icon-192x192.png">
        <link rel="manifest" href="/manifest.json" />
		<meta name="theme-color" content="aliceblue"/>		
        <title> {% if page.title %}	{{ page.title }} - {% endif %} {{ config.title }}</title>       
        <meta name="Description" content="{{page.description | default(value = config.description) }}">
        <link rel="stylesheet" href="/basic.css" media="all">
        <link rel="stylesheet" href="/screen.css" media="screen">
        <link rel="stylesheet" href="/print.css" media="print">
		<script src="/js/site.js" type="module" async></script>
	{% endblock head %}
    </head>

    <body vocab="http://schema.org/">
      {% block content %} {% endblock content %}
      {% block pagination %} {% endblock pagination %}
    </body>
</html>
