{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
{% block header %}
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl="/img/icon-192x192.webp") }}
{% endblock header %}
<main>
    {% for page in paginator.pages %}
      <article id="{{page.title}}" class="post_list_item">
        <h1 class="article_title">
          <a href="{{page.permalink}}">{{page.title}}</a>
        </h1>
        <ul class="frontmatter">
			<li> {{ page.author | default(value = config.extra.author) | capitalize}} </li>
			<li>
				<time class="article_time"  datetime="{{page.date}}">{{ page.date | date(format="%B %d, %Y") }}</time>
			</li>
			<li> {{page.word_count}} words </li>
			<li> {{page.reading_time}} min </li>
		</ul>
        <p class="article_content">{{ page.content | safe | striptags | truncate }}</p>
        <a class="" href="{{page.permalink}}">Continue Reading →</a>
      </article>
    {% endfor %}
</main>
{% endblock content %}

{% block pagination %}
<footer>
  <nav class="pagination">
    {% if paginator.previous %}
      <a rel="prev" href="{{paginator.previous}}" class="prev">← prev</a>
    {% endif %}
    {% if paginator.next %}
      <a rel="next" href="{{paginator.next}}" class="next">next →</a>
    {% endif %}
  </nav>
</footer>
{% endblock pagination %}
