{% macro mini_logo(classes, title, siteurl, logourl) %}
 <header>
   <a href="/" alt="Dineshdb hHome page" class="logo">{{title}}</a>
   <nav>
     <a href="/profile/dineshdb/" alt="About me">About Me</a>
   </nav>
</header>
{% endmacro mini_logo %}

{% macro frontmatter(classes, date, word_count, read_time) %}
<ul class="frontmatter {{classes}}">
    <li>
        <time class="article_time"  datetime="{{date}}">{{ date | date(format="%B %d, %Y") }}</time>
    </li>
    <li> {{word_count}} words </li>
    <li> {{read_time}} min </li>
</ul>
{% endmacro frontmatter %}

{% macro menu(title, siteurl, extra, rss) %}
<input type="checkbox" id="openSidebarMenu" class="openSidebarMenu">
<label class="menu cross menu--1" for="openSidebarMenu">
    <svg viewBox="0 0 75 75" xmlns="https://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="30" />
        <path class="line--1" d="M0 40h62c13 0 6 28-4 18L35 35" />
        <path class="line--2" d="M0 50h70" />
        <path class="line--3" d="M0 60h62c13 0 6-28-4-18L35 65" />
    </svg>
</label>

<div id="sidebarMenu">
    <div class="menu_wrapper">
        <ul class="sidebarMenuInner">
            <li>
                <a href="{{siteurl}}" >{{title}}</a>
                <div class="menu_div" ></div>
            </li>
            {% if extra.social.email %}
            <li><a href="mailto:{{extra.social.email}}?subject=hi" target="_blank" rel="noreferrer">Email</a></li>
            {% endif %}
            {% if extra.social.facebook %}
            <li><a href="https://github.com/{{extra.social.github}}" target="_blank" rel="noreferrer">Facebook</a></li>
            {% endif %}
            {% if extra.social.github %}
            <li><a href="https://github.com/{{extra.social.github}}" target="_blank" rel="noreferrer" >Github</a></li>
            {% endif %}
            {% if extra.social.instagram %}
            <li><a href="https://instagram.com/{{extra.social.instagram}}"  target="_blank" rel="noreferrer">Instagram</a></li>
            {% endif %}
            {% if extra.social.linkedin %}
            <li><a href="https://www.linkedin.com/in/{{extra.social.linkedin}}" target="_blank" rel="noreferrer">Linkedin</a></li>
            {% endif %}
            {% if extra.social.medium %}
            <li><a href="https://medium.com/@{{extra.social.medium}}"  target="_blank" rel="noreferrer">Medium</a></li>
            {% endif %}
            {% if extra.social.pocket %}
            <li><a href="https://getpocket.com/@{{extra.social.pocket}}"  target="_blank" rel="noreferrer">Pocket</a></li>
            {% endif %}
            {% if extra.social.twitter %}
            <li><a href="https://twitter.com/{{extra.social.twitter}}" target="_blank" rel="noreferrer">Twitter</a></li>
            {% endif %}
            {% if extra.social.website %}
            <li><a href="https://{{extra.social.website}}" target="_blank" rel="noreferrer">Website</a></li>
            {% endif %}
            {% if extra.social.youtube %}
            <li><a href="https://youtube.com/channel/{{extra.social.youtube}}" target="_blank" rel="noreferrer" >Youtube</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endmacro menu %}
