{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
{{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl="/img/icon-192x192.webp") }}
<main>
  <article>
    {% block post %}
      <h1 class="article_title"><a href="{{page.permalink }}" id="article_link">{{ page.title }}</a></h1>
        <ul class="frontmatter">
			<li> {{ page.author | default(value = config.extra.author) }} </li>
			<li>
				<time class="article_time"  datetime="{{page.date}}">{{ page.date | date(format="%B %d, %Y") }}</time>
			</li>
			<li> {{page.word_count}} words </li>
			<li> {{page.reading_time}} min </li>
		</ul>
  <nav class="toc" role="navigation">
    <details open>
    <summary>Table of Contents</summary>
    <ol>
    {% for h1 in toc %}
      <li>
        <a href="{{h1.permalink | safe}}">{{ h1.title  }}</a>
        {% if h1.children %}
            <ol>
              {% for h2 in h1.children %}
                <li><a href="{{h2.permalink | safe}}">{{ h2.title}}</a></li>
              {% endfor %}
            </ol>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
    </details>
  </nav>
    {{ page.content | safe }}
    {% endblock post %}
  </article>
  {% if config.extra.comments %}
    <aside>
  	<script src="https://utteranc.es/client.js"
        repo="{{ config.extra.comments.repo | safe }}"
        issue-term="pathname"
        label="blog"
        theme="{{ config.extra.comments.theme | safe }}"
        crossorigin="anonymous"
        async>
	</script>
	</aside>
  {% endif %}
</main>
{% endblock content %}
