{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
{{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl="/img/icon-192x192.webp") }}

<main>
<nav>

</nav>
  <article>
    {% block post %}
      	{{ page.content | safe }}
    {% endblock post %}
  </article>
<aside>
</aside>
</main>
{% endblock content %}


