{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
		<meta name="author" content="{{config.extra.author}}">

		<link rel="icon" sizes="192x192" type="image/webp" href="/img/icon-192x192.webp">
		<link rel="icon" sizes="192x192" type="image/png" href="/img/icon-192x192.png">
		<link rel="apple-touch-icon" href="/img/icon-192x192.png">
        <link rel="manifest" href="/manifest.json" />
		        
        <title> 
          {{ config.title }}        
        </title>
        <meta name="Description" content="Dinesh Bhattarai">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/{{page.extra.theme}}.min.css" id="theme">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"></script>
	{% endblock head %}
    </head>

    <body vocab="http://schema.org/">
		<div class="reveal">
			<div class="slides">{{ page.content | safe }}</div>
		</div>
	<script>
	  Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: true,
	  });
	</script>
    </body>
</html>
